@import url("https://fonts.googleapis.com/css?family=Anton|Roboto|Roboto+Mono&display=swap");

/*
 font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
  background-color: rgb(255, 115, 0);
  color: rgb(255, 115, 0);
 */
* {
  font-family: "Roboto Mono", monospace;
}
.content-about h1 {
  font-size: 4rem;
  font-weight: 900;
}
.content-about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 25% 0 0 0;
  align-items: center;
  color: white;
  background-color: rgb(255, 115, 0);
}
#home {
  background-color: rgb(255, 115, 0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-text {
  text-align: center;
}
#stack {
  color: white;
  height: 70vh;
  background-color: rgb(255, 115, 0);
}
.about-me {
  height: 60vh;
  display: flex;
  margin: 10% 5% 5% 5%;
  color: rgb(255, 115, 0);
}
.about-me img {
  width: 45vw;
  height: 50vh;
  border-radius: 24px;
  align-items: center;
  -webkit-box-shadow: 7px 18px 14px -6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 7px 18px 14px -6px rgba(0, 0, 0, 0.32);
  box-shadow: 7px 18px 14px -6px rgba(0, 0, 0, 0.32);
}
.about-me .col {
  padding: 5px;
}
.text-box {
  margin: 0 auto;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
i {
  font-size: 10vw;
}
